---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import ParaQuien from '../components/ParaQuien.astro';
import QueEncontrar from '../components/QueEncontrar.astro';
import Profe from '../components/Profe.astro';
import Diferencial from '../components/Diferencial.astro';
import ComoFunciona from '../components/ComoFunciona.astro';
import Horarios from '../components/Horarios.astro';
import Comunidad from '../components/Comunidad.astro';
import Testimonios from '../components/Testimonios.astro';
import FAQ from '../components/FAQ.astro';
import Cierre from '../components/Cierre.astro';
import Footer from '../components/Footer.astro';
import FloatingWA from '../components/FloatingWA.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Problema />
    <ParaQuien />
    <QueEncontrar />
    <Profe />
    <Diferencial />
    <ComoFunciona />
    <Horarios />
    <Comunidad />
    <Testimonios />
    <FAQ />
    <Cierre />
  </main>
  <Footer />
  <FloatingWA />
</Layout>
